<div class="row">
  <div class="product-grid col-md-3" ng-repeat="product in products">
    <div class="product-wraper">
      <div class="product-image">
        <a href="">
          <img ng-src="{{product.images[0].url}}">
        </a>
      </div>

      <div class="quickview">
        <a href="">
          <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
      </div>

      <div class="actions">
        <div class="action edit">
          <a href="" data-toggle="modal" ng-click="showEditModal(product)">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </div>

        <div class="action remove">
          <a href="#">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="row product-info">
      <div class="col-md-6 price-tag">
        <strong>S${{product.price}}</strong>
      </div>

      <div class="col-md-6 rates text-right">
        <i class="glyphicon glyphicon-heart"></i>
        <i class="glyphicon glyphicon-heart"></i>
        <i class="glyphicon glyphicon-heart"></i>
        <i class="glyphicon glyphicon-heart"></i>
      </div>

      <div class="col-md-12">
        <h5>{{product.name}}</h5>
      </div>
    </div>

  </div>
</div>

<div id="new-product-wrapper">
  <a href="" id="new-product" data-toggle="modal" ng-click="showNewModal()">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Product {{editProduct.name}}</h4>
      </div>

      <form ng-submit="submitProduct(editProduct)">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" ng-model="editProduct.name" class="form-control" value='{{editProduct.name}}'></input>
                </div>

                <div class="form-group">
                  <label for="">Description</label>
                  <textarea ng-model="editProduct.description" class="form-control">{{editProduct.description}}</textarea>
                </div>

                <div class="form-group">
                  <label for="">Price</label>
                  <input type="value" ng-model="editProduct.price" class="form-control" value='{{editProduct.price}}'></input>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Product</h4>
      </div>

      <form ng-submit="createProduct(newProduct)">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" ng-model="newProduct.name" class="form-control" value='{{newProduct.name}}'></input>
                </div>

                <div class="form-group">
                  <label for="">Description</label>
                  <textarea ng-model="newProduct.description" class="form-control">{{newProduct.description}}</textarea>
                </div>

                <div class="form-group">
                  <label for="">Price</label>
                  <input type="value" ng-model="newProduct.price" class="form-control" value='{{newProduct.price}}'></input>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
